.PostSearchWidget {
    width: 70%;
    margin: 10px auto 4vh 20%;
    display: flex;
    flex-direction: column;
    padding: 12px;
    background: white;
    border-radius: 20px 20px 20px 0px;
    z-index: 1;
}


.search-widget-form-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 3px solid rgb(199, 199, 199); */
    position: relative;
    margin: 10px;
    padding: 10px;
    background: lightgray;
    /* border-radius: 20px 20px 0px 0px; */
    color: rgb(57, 57, 57);
    margin-bottom: 2rem;
    /* z-index:1; */
}

.search-widget-form-wrapper::before {
    content:'';
    position: absolute;
    bottom: 14px;
    left: 10px;
    height: 30%;
    width: 40%;
    z-index: -1;
    background:transparent;
    box-shadow: 0.4rem 0.4rem 1.8rem 3px rgba(20, 20, 20, 0.6);
    transform: skew(-9deg) rotate(-3deg)
}

.search-widget-form-wrapper::after {
    content:'';
    position: absolute;
    bottom: 14px;
    right: 18px;
    height: 30%;
    width: 40%;
    z-index: -1;
    background:transparent;
    box-shadow: 0.4rem 0.4rem 1.8rem 3px rgba(20, 20, 20, 0.6);
    transform: skew(9deg) rotate(3deg)
}

.search-widget-reset-button {
    background: lightcoral;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(20, 20, 20, 0.4);
}

label, select, input {
    margin-bottom: 8px;
}