.Dashboard {
    width: 80vw;
    min-height:100vh;
    position: absolute;
    top: 0;
    right: 0;
}

table, th, td {
    border-bottom: 1px solid rgb(69, 69, 69);
    border-collapse: collapse;
}

thead {
    font-weight: bold;
    text-align: center;
    background: darkgray;
    color: white;
    font-family: 'Roboto', sans-serif;
}

td {
    padding: 7px;
}

td img {
    max-width: 100px;
}

/* table {
    border: 3px solid red;
} */

tbody tr:hover {
    background: lightgray;
}