.Splash {
    position: relative;
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;

}

.post-cards-wrapper {
    width: 60%;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    /* justify-content:start; */

}

.post-widgets-wrapper {
    width:38%;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.splash-top-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.splash-logo {
    display: block;
    margin: auto auto;
    width: 48%;
}

.splash-intro {
    width: 48%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 20px
}

.splash-intro-title {
    font-weight: bold;
}

.splash-intro-logo-letter {
    color: red;
    font-weight: bold;
}