/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


@font-face {
  font-family: 'metropolis';
  src: url('./assets/fonts/Webfonts/EOT/Metropolis-Regular.eot');
  src: url('./assets/fonts/Webfonts/WOFF/Metropolis-Regular.woff') format('woff');
  src: url('./assets/fonts/Webfonts/WOFF2/Metropolis-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'metropolisBold';
  src: url('./assets/fonts/Webfonts/EOT/Metropolis-Bold.eot');
  src: url('./assets/fonts/Webfonts/WOFF/Metropolis-Bold.woff') format('woff');
  src: url('./assets/fonts/Webfonts/WOFF2/Metropolis-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'metropolisItalic';
  src: url('./assets/fonts/Webfonts/EOT/Metropolis-RegularItalic.eot');
  src: url('./assets/fonts/Webfonts/WOFF/Metropolis-RegularItalic.woff') format('woff');
  src: url('./assets/fonts/Webfonts/WOFF2/Metropolis-RegularItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'metropolisBoldItalic';
  src: url('./assets/fonts/Webfonts/EOT/Metropolis-BoldItalic.eot');
  src: url('./assets/fonts/Webfonts/WOFF/Metropolis-BoldItalic.woff') format('woff');
  src: url('./assets/fonts/Webfonts/WOFF2/Metropolis-BoldItalic.woff2') format('woff2');
}

* {
  font-family: metropolis, sans-serif;
  line-height: 150%;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

strong {
  font-family: metropolisBold;
}

em {
  font-family: metropolisItalic;
}

strong em, em strong {
  font-family: metropolisBoldItalic;
}

:root {
  --primaryText: rgb(57, 57, 57);
  --lightText: rgb(201, 201, 201);
  --primaryBG: rgb(206, 206, 206);
  --lightBG: white;
  --contentBoxBG: rgb(211, 211, 211);
  --tagButtonBG: rgb(41, 46, 213);
  --tagButtonLight: rgb(177, 180, 255);
  --commentCounterBG: red;
  --commentCounterLight: rgb(255, 177, 177);
  --tagBtnText: white;
  --resetBtnBG: rgb(41, 46, 213);
  --randVal: 0deg;
  --imgPos: 'absolute';
  --leftPost: 0;
}